@import './reset.css';

.App {
  text-align: center;
}

.characters {
  height: 250px;
  width: 100%;
  background-color: orange;
  display: flex;
}

.selector {
  height: 250px;
  width: 45%;
  background-color: #32383f;
  display: flex;
  border: 2px solid grey;
  border-radius: 10px;
}

.character {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

.char-list-img {
  height: 50px;
}

.create-own {
  height: 250px;
  width: 20%;
  background-color: #32383f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.selected-image {
  height: 75px;
}